-
  var links = [
    {
      href: '#',
      img: '/images/location.png',
      name: 'Стратегия',
      description: 'Создадим уникальный и удобный дизайн.',
    },
    {
      href: '#',
      img: '/images/analysis.png',
      name: 'Анализ',
      description: 'Создадим уникальный и удобный дизайн.',
    },
    {
      href: '#',
      img: '/images/social.png',
      name: 'Соц сети',
      description: 'Создадим уникальный и удобный дизайн.',
    },
    {
      href: '#',
      img: '/images/development.png',
      name: 'Развитие',
      description: 'Создадим уникальный и удобный дизайн.',
    },
    {
      href: '#',
      img: '/images/content.png',
      name: 'Контент',
      description: 'Создадим уникальный и удобный дизайн.',
    },
    {
      href: '#',
      img: '/images/design.png',
      name: 'Дизайн ux',
      description: 'Создадим уникальный и удобный дизайн.',
    },
    {
      href: '#',
      img: '/images/target.png',
      name: 'Таргетированная реклама',
      description: 'Создадим уникальный и удобный дизайн.',
    },
    {
      href: '#',
      img: '/images/product.png',
      name: 'Продукт',
      description: 'Создадим уникальный и удобный дизайн.',
    }
  ]

ul.services-links
  - for (var i = 0; i < links.length; i++)
    li.services-links__item
      a(href=links[i].href).services-links__link
        .services-links__inner
          img(src=links[i].img alt=links[i].name width="64px" height="64px").services-links__img
          .services-links__name= links[i].name

        .services-links__hidden
          .services-links__description= links[i].description
          .services-links__button Подробнее &rarr;